<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Rubik', sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .coming-soon-text {
        text-align: center;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 150px;
        height: auto;
        margin-bottom: 30px;
    }

    .heading {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .subheading {
        font-size: 18px;
        color: #777;
        margin-bottom: 30px;
    }

    .countdown {
        font-size: 24px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="container">
    <div class="coming-soon-text">
        <img src="/img/logo.svg" alt="Logo" class="logo">
        <h1 class="heading">Coming Soon</h1>
        <p class="subheading">For those in a hurry <br> Developer Email: rastogiriya081@gmail.com</p>
    </div>
</div>